{% extends "account/base.html" %}

  {% block title %}
    About Us
  {% endblock %}
  

{% block content%}
<div class="text-center">
<h1>About Us<h1>

<div>
<h5>Tshala is an online investing platform which aims in ensuring economic colaborations by people from all over the world<h5> 
</div>
<div>
<h5>Our vision is to make it easear for anyone in any part of the world to be able to invest in a company that that has a great prospect of success and growth. We also aim to make sure that startups have an easy access to adequate funding and other assistance to grow.<h5> 
</div>
<div>
<h5>Our mission is to ensure that we provide infrastructure that makes it very easy for different companies and startups to colaborate easly and convene investments.<h5> 
</div>
<div>
<h3>Meet our CEO Ayanda Dladla</h3>
</div>
</div>
{% endblock %}